.apresentação{
	position: absolute;	
	top: 220px;
	left:220px;
	width: 900px;
	height: 800px;
	
}

.menuitem{
	border: 1px solid black;
	padding: 5px;
	width: 160px;
	display: inline-block;
	text-align: center;	
	float: right;
	background-position: 100% .4em;
    padding-right: .6em;
	margin: 0px;
	color: black;
	text-decoration: none;
	font-weight: bold;
    font-size: 16px;
    font-family: Verdana;
}



footer {
border: 1px solid black;
position: relative;
}


.twitter{
	position: absolute;
	top: 20px;
	right: 25px; 
}

.copyright {
	margin: 20px 0px 20px 0px;
}

ul {
	position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFF;
	text-align: right;
}

li {
    float: right;
	background-position: 100% .4em;
    padding-right: .6em;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.titulogrande{
	text-align: center;
	font-size: 80px;
}

.lide{

	text-align: center;
	font-size: 40px;
	font-family: serif;
}


.lideteta{

	text-align: center;
	font-size: 20px;
	font-family: Impact;
	color:black;
}
.lide1{
	text-align: center;
	font-size: 40px;
	font-family: Impact;
	position: absolute;
	top: 20px;
	left: 600px;
	
}
.lide2{
	
	font-size: 20px;
	font-family: Verdana;
	position: absolute;
	bottom: 95px;
	left: 350px;
}

.aboutme{
	position: absolute;
	bottom: -800px;
	width: 1400px;
	height: 640px;
	background-color:  white;
}

.aboutmetext{
	font-size:20px;
	font-family: serif;
	float: right;
	text-align: justify;
	width: 400px;
	height: 100px;
	right: 300px;
	position: absolute;
	top:120px;
}

.linksintexto{
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.myimage{
	left: 300px;
	position: absolute;
	top: 100px;
}

.video{
	min-height: 100%;
	min-width: 100%;
	height: auto;
	width: auto;
	background: url(http://moodle.ipt.br/moodle/pluginfile.php/1/theme_uikit/slide1image/1430821052/Eng_computacao.jpg)no-repeat;
	background-size: cover;
	
}
video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}

.concertar{
  position: fixed;
  content: "";
  display: table;
  clear: both;
  width: 530px;
  text-align: right;
  z-index : 1;
}

.copyright{
	border: 1px solid black;
	width: 1400px;
	height: 50px;
	position: absolute;
	bottom: -820px;
	background-color: white;
	margin: 0px;
}

.lidecopy{
	position: absolute;
	bottom: 18px;
	left: 500px;
}

.linksmenu{
	font-size: 10px;
}

.linksintexto{
	color: black;
	text-decoration: none;
	font-weight: bold;
}
