.TituloProjeto{
	position: absolute;
	right: 500px;
	top: 50px;
	font-size: 30px;
	font-family: "Lucida Console"
}

.ImagemProjeto{
	position: absolute;
	top: 80px;
	left: 200px;
	width:57%;
    height: auto;
}

.TextImage{
	position: absolute;
	height: auto;
    left: 0px;
}

.ListaTemas{
	position: relative;
	right: -1025px;
	width: 300px;
	top: 90px;
    margin: 0px;

}

.BelowImage{

}

.Text{
	position: relative;
	width:80%;
	top: 300px;
	left: 210px;
}

.jean{
    border: 2px solid red;
}