.TituloProjeto{
	position: absolute;
	right: 500px;
	top: 50px;
	font-size: 30px;
	font-family: "Lucida Console"
}

.ImagemProjeto{
	position: absolute;
	top: 80px;
	left: 200px;
	width:57%;
    height: auto;
}

.TextImage{
	position: absolute;
	height: auto;
    left: 0px;
}

.ListaTemas{
	position: relative;
	right: -1025px;
	width: 300px;
	top: 90px;
    margin: 0px;

}

.BelowImage{

}

.Text{
	position: relative;
	width:80%;
	top: 300px;
	left: 210px;
}

.jean{
    border: 2px solid red;
}

.titulobranco{
	position: absolute;
	font-size: 30px;
	font-family: serif;
	top: 2%;
	right: 25%;
}

.titulobranco1{
	position: absolute;
	font-size: 30px;
	font-family: serif;
	top: 2%;
	right: 30%;
}
.titulobranco2{
	position: absolute;
	font-size: 30px;
	font-family: serif;
	top: 2%;
	right: 38%;
}
.embaixo_da_foto{
	position: relative;
	top: 45%;
	max-width: 700px;
    left: 10%;
}

.post{
	position: relative;
	top: 50%;
	left: 45%;
	font-size: 20px;
}

.layertext2{
	position: relative;
	top: 55%;
	left: 10%;
	max-width: 85%;
}

.copyright{
	border: 1px solid black;
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: -700px;
	background-color: white;
	margin: 0px;
	z-index: 5;
}

.lidecopy{
	position: absolute;
	bottom: 18px;
	left: 500px;
}








