ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 150px;
    }


ul li {
    position: relative;
    }


ul li a {
    display: block;
    text-decoration: none;
    color:white;
    background: red;
    padding: 5px;
    border: 1px solid #ccc;
}

li:hover ul { display: block; }